ul {
    list-style: none;
  }
  
body {
  background-color: #6ec1a2;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-family: "Lato", sans-serif;
}

body {
  background-color: rgb(110, 193, 162);
}

footer {
  background-color: rgb(51, 90, 207);
}

#desafio {
  background-color: #e4e4d9; 
  background-image: url(../../../assets/logo.png);
  background-size: contain;
  padding: 1em;
  padding-top: 3px;
  width: 50%;
  height: 180px;
  box-sizing: border-box;
  border-radius: 25%;
  text-align: center;
  font-family: "Lato", sans-serif;
}