<div>
    <ul>
        <li> Excelente!! Celebramos tu disposición a querer cambiar hábitos. Te entregamos la siguiente propuesta: </li>
    </ul><br><br>
</div>
<div id="desafio">
        <div id="interaccion">
        <ul>
            <li> Interacción JS. </li>
        </ul>
        <ul>
            <li>Ejemplo: Con tus envoltorios plasticos  de las cosas que comes haz un ecoladrillo.</li>
        </ul><br><br>
    </div>
</div><br><br><br>
    
<ul>
    <li>No te sientas mal si no lo cumples. Sabemos que muchos problemas del mundo una sola persona no puede resolverlos, pero tambien es loable y gratificante tener habitos sanos con el medio ambiente y dar el ejemplo. Vamos criatura tu puedes! Pero sino puedes no te angusties, puedes intentarlo en otra ocación. 
    </li>
</ul> <br><br>

<ul> 
    <li>
        Atte: El equipo de desarrollo que genera CO2 programando esto :)
    </li>
</ul>

