<!-- <div id="salidaTexto">
    <ul>
        <li> Interacción JS.</li>
    </ul>
    <ul>
        <li>Haz clic <a href="https://docs.google.com/forms/d/e/1FAIpQLSelnomi3ulBpCDabBP6CItR5dyn_5i103dIYuQLL63OR_tliw/viewform">acá</a> para participar en nuestro formulario.</li>
    </ul>
    <ul>
        <li>Crearemos este formulario de nuevo con JS y el sistema de gestión de base de datos para las próximas entregas.</li>
    </ul>
</div> -->

<div>
    <p>Te damos bienvenida a nuestro formulario para que podamos conocer mejor tu comportamiento hasta ahora para cuidar al medio ambiente. 
        Con esta información, podemos darte mejores sugerencias para ampliar tu impacto positivo en el planeta. 
        ¡Muchas gracias por querer mejorar tu capacidad de apoyar esta causa! 
    </p>
</div>

<div class="container">
    <section>
        <form [formGroup]="formulario" (ngSubmit)="userForm()">
            <ul id="campos">
                <li>
                    <div class="col-md-12">
                        <label for="reciclaje" class="form-label">¿Qué porcentaje del plástico que utilizas reciclas?</label>
                        <input type="range" class="form-range" min="0" max="10" id="reciclaje">
                    </div>
                    <br>
                </li>
                <!-- <li>
                    <div class="col-md-12">
                        <label for="password">Contraseña</label>                       
                        <input id="password" class="form-control" type="password" formControlName="password">
                        <span style="color: red;" *ngIf="password && password.invalid && password.touched" >La contraseña tiene que contener al menos 5 caracteres un número, letra mayúscula y letra minúscula</span>
                    </div>
                    <br>
                </li>
                <li>
                    <div class="col-md-12">
                        <label for="password2">Reescribir contraseña</label>                      
                        <input id="password2" class="form-control" type="password" formControlName="password2">
                        <span style="color: red;" *ngIf="password2 && password2.invalid && password2.touched" >La contraseña tiene que contener al menos 5 caracteres un número, letra mayúscula y letra minúscula</span>
                    </div>
                    <br>
                </li>
                <li>
                    <div class="col-md-12">
                        <button (click)="updateData()" type="submit" [disabled]="loginForm.invalid">Crear cuenta</button>
                    </div>
                    <br>
                </li>
                <li>
                    <div class="col-md-12">
                        <button id="botonprincipal">
                            <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">Ir a la página principal</a>
                        </button> 
                    </div>
                    <br>
                </li> -->
            </ul>
        </form>
    </section>
</div>
