
<div class="container">
    <section>
        <!--FORMULARIO-->
        <form id="myform">

            <ul id="campos">
                <li>
                    <div class="col-md-12">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </li>
                <li>
                    <div class="col-md-12">
                        <label for="contrasenya" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="contrasenya" name="contrasenya" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
                    </div>
                </li>
                <li>
                    <div class="col-12">
                        <button id="botonenviar">Submit</button>
                    </div>
                </li>
                <li>
                    <div class="col-12">
                            <button id="botonprincipal">
                            <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">Ir a la pagina principal</a>
                            </button>                       
                    </div>
                </li>
            </ul>
        </form>
    </section>
</div>

