<div class="container">
    <section>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <ul id="campos">
                <li>
                    <div class="col-md-12">
                        <label for="email">Correo electrónico</label>                        
                        <input id="email" class="form-control" type="text" formControlName="email">
                        <span style="color: red;" *ngIf="email && email.invalid && email.touched" >Correo necesita un valor con @</span>
                    </div>
                    <br>
                </li>
                <li>
                    <div class="col-md-12">
                        <label for="password">Contraseña</label>                       
                        <input id="password" class="form-control" type="password" formControlName="password">
                        <span style="color: red;" *ngIf="password && password.invalid && password.touched" >La contraseña tiene que contener al menos 5 caracteres un número, letra mayúscula y letra minúscula</span>
                    </div>
                    <br>
                </li>
                <li>
                    <div>
                        <re-captcha id="captcha" (resolved)="resolved($event)" siteKey="6LfBHskmAAAAAKIHAFfSwlKI7tzLMS2BkIMfeTmK" ></re-captcha>
                        <br>
                    </div>
                </li>
                <li>
                    <div class="col-md-12">
                        <button type="submit">Crear cuenta</button>
                    </div>
                    <br>
                </li>
                <li>
                    <div class="col-md-12">
                        <button id="botonprincipal">
                            <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">Ir a la página principal</a>
                        </button> 
                    </div>
                    <br>
                </li>
            </ul>
        </form>
        

    </section>
</div>