<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="paginaprincipal.component.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="contenedorPrincipal">
            <h2>Bienvenidos y gracias por tomar la oportunidad de mejorar tu capacidad de cuidar al medioambiente</h2>
            <div id="boxlayer1">
                    <button id="bigbuttons">
                        <a routerLink="/formulario" routerLinkActive="active hide-link">¿Has completado nuestro formulario?</a>
                    </button>
                    <button id="bigbuttons2">
                        <a routerLink="/desafios" routerLinkActive="active hide-link">¡Haz clic acá para ver el desafío del día!</a>
                    </button>
            </div>
            <div id="boxlayer2">
                    <button id="bigbuttons3">
                        <a routerLink="/wiki" routerLinkActive="active hide-link">¿Tienes alguna duda? Más información acá</a>
                    </button>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>
