
<div id="contenedorPrincipal">
    <h2>Bienvenidos y gracias por tomar la oportunidad de mejorar tu capacidad de cuidar al medioambiente</h2>
    <div id="boxlayer1">
            <button id="bigbuttons">
                <a routerLink="/formulario" routerLinkActive="active hide-link">¿Has completado nuestro formulario?</a>
            </button>
            <button id="bigbuttons2">
                <a routerLink="/desafios" routerLinkActive="active hide-link">¡Haz clic acá para ver el desafío del día!</a>
            </button>
    </div>
    <div id="boxlayer2">
            <button id="bigbuttons3">
                <a routerLink="/wiki" routerLinkActive="active hide-link">¿Tienes alguna duda? Más información acá</a>
            </button>
    </div>
</div>