<!-- 
<div class="container">

    <section>
        <form id="myform">

            <ul id="campos">
                <li>
                    <div class="col-md-12">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control form-control-lg" id="email" name="email" required>
                    </div>
                </li>
                <li>
                    <div class="col-md-12">
                        <label for="contrasenya" class="form-label">Contraseña</label>
                        <input type="password" class="form-control form-control-lg" id="contrasenya" name="contrasenya" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
                    </div>
                </li>
                <li>
                    <div class="col-md-12">
                        <label for="contrasenya2" class="form-label">Reescribir contraseña</label>
                        <input type="password" class="form-control form-control-lg" id="contrasenya2" name="contrasenya2" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" required>
                    </div>
                </li>
                <li>
                    <div class="col-12">
                        <button id="botonenviar">Submit</button>
                    </div>
                </li>
                <li>
                    <div class="col-12">
                            <button id="botonprincipal">
                            <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">Ir a la pagina principal</a>
                            </button>                       
                    </div>
                </li>
            </ul>
        </form>
    </section>
</div> -->

<form [formGroup]="formulario" (ngSubmit)="EnviarDatos()" novalidate>
    <ul>
      <li><input type="text" formControlName="email" placeholder="Correo electrónico"></li>
      <li><input type="password" formControlName="password"  placeholder="Contraseña"></li>
      <li><input type="password" formControlName="password2" placeholder="Reescribir contraseña"></li>
      <li><button type="submit">Enviar</button></li>
    </ul>
</form>

<!-- <script>

    // FIXME: NADA FUNCIONA: LAS ALERTAS NO APARECEN EN LA PAGINA 
    $(document).ready(function(){
        $("#botonenviar").click(function(e){
    // llama a la funcion de js
            window.alert("PRESSED");
            revisar();
        });
    });

    function revisar(){
    // tomar datos
    var datos={"dato1":$('#email').val() , "dato2":$('#contrasenya').val()};
    // consultas
    if(validarContenidoEmail($('#email').val()) == true){
        if(validarContenidoContrasena($('#contrasenya').val()) == true){
            window.location.href = "../paginaprincipal/paginaprincipal.component.html";
        }
        else{
            window.alert("Contraseña no valido");
        }
    }
    else {
        window.alert("Correo electronico no valido");
    }
    }

    function validarContenidoEmail(email) {
    // Busca si el correo electrónico tiene contenido
        if (email.indexOf('@') !== -1) {
            return true;
        } else {
            return false;
        }
    }

    function validarContenidoContrasena(contrasenya) {
    // Verifica si la contraseña tiene al menos un carácter
        if (contrasenya.length > 0) {
            return true;
        } else {
            return false;
        }
    }
</script> -->
