ul {
    list-style: none;
  }
  
body {
  background-color: #6ec1a2;
}

a {
  color: black;
}

#salidaTexto {
  background-color: #e4e4d9;
  padding: 5.9em;
  padding-top: 3px;
  padding-left: 160px;
  width: 70%;
  height: 230px;
  box-sizing: border-box;
  border-radius: 25%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

#ArticuloDestacado {
  background-color: #e4e4d9;
  padding: 1em;
  padding-left: 120px;
  width: 50%;
  height: 180px;
  box-sizing: border-box;
  border-radius: 25%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

#RecursoDelDia {
  background-color: #e4e4d9;
  padding: 1em;
  padding-left: 120px;
  width: 50%;
  height: 180px;
  box-sizing: border-box;
  border-radius: 25%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

#Portales {
  background-color: #e4e4d9;
  padding: 1em;
  padding-top: 3px;
  padding-left: 120px;
  width: 50%;
  height: 200px;
  box-sizing: border-box;
  border-radius: 25%;
  text-align: center;
  font-family: "Lato", sans-serif;
}