<h4> Artículo Destacado</h4>
<div id="ArticuloDestacado">
    <div id="interaccion">
        <ul *ngIf="articulo">
            <li> <!-- Se muestra un artículo aleatorio del json object en wiki.compents.ts-->
                <p style="white-space: pre-wrap;"> <span>{{articulo.titulo}}</span></p>     
                <p style="white-space: pre-wrap;"> <span>{{articulo.recurso}}</span></p>
            </li>
        </ul>
    </div>
</div>
<h4> Recurso del día</h4>
<div id="RecursoDelDia">
    <div id="interaccion">
        <ul *ngIf="recurso">
            <li class="contenido">
                <p><span> {{recurso.titulo}}</span></p>     
                <p><span> {{recurso.recurso}}</span></p>
            </li>
        </ul>
    </div>
</div> 
<h4> Portales</h4>
<div id="Portales">
    <div id="interaccion">
        <ul>
            <li>Plantas: <a href="https://www.serpar.gob.pe/noticias/10-cosas-que-debes-aprender-sobre-el-cuidado-de-plantas/">cuidado</a>, <a href="https://cropaia.com/es/blog/enfermedades-de-plantas/">enfermedades</a>, <a href="https://www.elmueble.com/plantas-flores/8-trucos-caseros-jardineria-que-mantendran-tus-plantas-esplendorosas_42334">tratamiento</a>, <a href="https://www.kukyflor.com/blog/cuida-tus-flores/5-tips-para-cuidar-tus-plantas/">tips</a></li>
        </ul>
        <ul>
            <li>Autosustentabilidad: <a href="https://www.uchile.cl/noticias/97524/hormigon-sustentable-nueva-mirada-a-los-materiales-de-construccion">fabricación de materiales</a>, <a href="https://www.educarchile.cl/desarrollo-profesional/economia-circular-y-sustentabilidad-el-desafio-educativo-del-siglo-xxi">economía circular </a></li>
        </ul>
        <ul>
            <li>Habitos: <a href="https://youth.europa.eu/get-involved/sustainable-development/how-reduce-my-carbon-footprint_es">reducir huella de carbono</a>, <a href="https://www.nature.org/es-us/que-hacemos/nuestras-prioridades/ciudades-saludables/como-reducir-la-basura/">tips para reducir basura personal</a>, <a href="https://prosostenible.es/13-tips-para-un-reciclaje-responsable/">reciclaje </a></li>
        </ul>
    </div>
</div>