<h4> Artículo Destacado</h4>
<div id="ArticuloDestacado">
    <div id="interaccion">
        <ul>
            <li> Acá posteriormente interacción JS para conseguir artículo destacado</li>
        </ul>
    </div>
</div>
<h4> Recurso del día</h4>
<div id="RecursoDelDia">
    <div id="interaccion">
        <ul>
            <li> Acá posteriormente interacción JS para conseguir artículo </li>
        </ul>
    </div>
</div> 
<h4> Portales</h4>
<div id="Portales">
    <div id="interaccion">
        <ul>
            <li>Plantas: <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">cuidado</a>, <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">enfermedades</a>, <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">tratamiento</a>, <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">tips</a></li>
        </ul>
        <ul>
            <li>Autosustentabilidad: <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">fabricación de materiales</a>, <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">economía circular </a></li>
        </ul>
        <ul>
            <li>Habitos: <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">reducir huella de carbono</a>, <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">tips para reducir basura personal</a>, <a routerLink="/paginaprincipal" routerLinkActive="active hide-link">reciclaje </a></li>
        </ul>
    </div>
</div>