#box {
    background-color: #667fc8;
    display: flex;
    align-items: center;
}

#logo {
    height: 120px;
    width: 140px;
}

#panelDeBotones {
    background-color: rgb(104, 127, 200);
    padding: 10px;
  }

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

#logobutton {
    background-color: rgb(104, 127, 200);
    border: none;
  }

.navbar-brand {
    font-weight: bold;
    background-color: rgb(104, 127, 200);
}
  
.navbar-nav .nav-link {
    padding: 2rem 1rem;
    background-color: rgb(104, 127, 200);
}

#navbarNav {
    background-color: rgb(104, 127, 200);
    padding: 10px;
    margin: 0px;
}

/* #navlist {
    padding: 10px;
} */

#navlistelement {
    margin: 10px;
    font-size: 20px;
    text-shadow: 0px 0px 4px white;
    /* background-color: white; */
}

#hamburguesa {
    background-color: #6ec1a2;
}

#navbar {
    background-color: rgb(104, 127, 200);
}