#box {
    background-color: #667fc8;
    display: flex;
    align-items: center;
}

#logo {
    height: 120px;
    width: 140px;
}

#panelDeBotones {
    background-color: rgb(104, 127, 200);
    padding: 10px;
  }

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

#logobutton {
    background-color: rgb(104, 127, 200);
    border: none;
  }